@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var greeting = ViewData["Greeting"];
}

<div class="h-full flex items-center justify-center flex-col">
    <div class="flex flex-col items-center justify-center ">
        <span class="text-xl text-center">
            @greeting
        </span>
        <div class="text-center pt-10 text-center">
            <i class="text-3xl lni lni-scroll-down-2"></i>
        </div>
    </div>
</div>

<div class="flex flex-col justicy-center mt-5 p-6 w-full">
    <h2 class="text-xl text-center">&Uuml;ber mich</h2>
    <br />
    <div class="flex flex-col md:flex-row text-center md:text-left">
        <div class="flex w-full justify-center items-center p-4">
            <img src="/images/Foto Lebenslauf.jpeg" class=" h-[220px]" alt="Alternate Text" />
        </div>
        <div class="flex items-center p-4">
            <p>
                Hi, ich bin Jekathmenan Selvarajah – leidenschaftlicher Entwickler. Nach meinem Abschluss an der Informatikmittelschule Baden arbeite ich aktuell als Solution Engineer bei CS-Computing GmbH. Dort entwickle ich individuelle Anwendungen mit PHP, C#, SQL, WordPress und mehr.
                <br><br>
                Ich liebe es, Probleme mit Code zu lösen, neue Technologien auszuprobieren und meine <a class="text-blue-400" href="/projects">Projekte</a> stetig weiterzuentwickeln. In meiner Freizeit findet man mich oft auf meinem Motorrad, beim Lesen oder natürlich – beim Programmieren.
            </p>
        </div>
    </div>

</div>
<div class="flex flex-col justicy-center mt-5 p-6 w-full">
    <h2 class="text-xl text-center">Karriere</h2>
    <br />
    <br />
    <ul class="space-y-3">
        <!-- TODO: Sort by period -->
        @foreach (var career in Model.careers)
        {
            <li class="p-4 bg-gray-100 text-center rounded shadow-sm">
                <span class="text-sm text-gray-500">@career.Company</span>  - <span class="text-sm text-gray-500">@career.Address</span><br />
                <strong>@career.Name</strong> <br />
                <span class="text-sm text-gray-500">@career.Period</span> 
            </li>
        }
    </ul>

    <br />
    <br />
    <h2 class="mt-30 text-xl text-center">Ausbildung</h2>
    <br />
    <ul class="space-y-3">
        <!-- TODO: Sort by period -->
        @foreach (var education in Model.educations)
        {
            <li class="p-4 bg-gray-100 text-center rounded shadow-sm">
                <span class="text-sm text-gray-500">@education.School</span>  - <span class="text-sm text-gray-500">@education.Location</span><br />
                <strong>@education.Name</strong> <br />
                <span class="text-sm text-gray-500">@education.Period</span>
            </li>
        }
    </ul>
</div>